<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="MonsterDB" connectionString ="data source=sqltraining2016.cthpuoak6xo0.us-east-1.rds.amazonaws.com; initial catalog=MonsterDB; user id=clarklj; password=stiffy19;" providerName= "System.Data.SqlClient"/>
    <add name="MonsterDBEntities" connectionString="metadata=res://*/MonsterDB.csdl|res://*/MonsterDB.ssdl|res://*/MonsterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqltraining2016.cthpuoak6xo0.us-east-1.rds.amazonaws.com;initial catalog=MonsterDB;user id=clarklj;password=stiffy19;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>